name: ci

on:
  push:
  pull_request:

jobs:
  build:
    name: Build (docker compose)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Show Docker versions
        run: |
          docker version
          docker compose version

      - name: Build containers
        run: docker compose build
